/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
        url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-800italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/open-sans-v34-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/open-sans-v34-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/open-sans-v34-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/open-sans-v34-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/open-sans-v34-latin-800.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

button {
    cursor: pointer;
}

/* page */

.page {
    min-width: 350px;
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.page__inner {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.page__inner_intro {
    padding: 0 1vw;
    padding-top: 29px;
}

.page__inner_grey {
    background-color: #F6F2F2;
}

.page__inner_dark {
    background-color: #2C2C2C;
}

.page__header {
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    max-width: 1249px;
    min-height: 89px;
    min-width: 350px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8)
}

.site-menu {
    margin-right: 30px;
}

.site-menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-menu__item {
    display: flex;
    min-height: 89px;
}

@media screen and (max-width: 600px) {
    .site-menu__list {
        justify-content: center;
    }
}

.site-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    padding-top: 39px;
    padding-bottom: 26px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #E0E0E0;
}

.site-menu__link:hover {
    background-color: #FF3F40;
    ;
}

.site-menu__link_active {
    background-color: #FF3F40;
}

@media screen and (max-width: 800px) {
    .site-menu {
    display: none;
    }
} 
/* popup-menu */

.popup-menu {
    position: relative;
    
}

.popup-menu__button {
    display: block;
    width: 100px;
    height: 89px;
    background-image: url('../img/menu-image.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    border-radius: 5px;
}

.popup-menu__list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;    
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-menu__item {
    display: flex;
    min-height: 89px;
}

.popup-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    padding-top: 39px;
    padding-bottom: 26px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #E0E0E0;
}

.popup-menu__link:hover {
    background-color: #FF3F40;
    ;
}

.popup-menu__link_active {
    background-color: #FF3F40;
}
@media screen and (min-width: 800px) {
    .popup-menu {
        display: none;
    }
} 

/* Main */
/* Intro */

.intro-wrapper {
    display: block;
    width: 100%;
    padding: 0 1vw;
    padding-top: 87px;
    padding-bottom: 110px;
    background-color: #f6f2f2;
    box-sizing: border-box;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    max-width: 1249px;
    min-width: 350px;
    margin: 0 auto;
    justify-content: space-between;
}

.intro__info {
    max-width: 595px;
    margin-right: 82px;
}

.intro__heading {
    font-family: 'Open Sans';
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 1.5px;
    word-break: break-all;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 19px;

}

.intro__heading_special {
    letter-spacing: 6px;
}

.intro__about {
    max-width: 545px;
    text-align: justify;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 58px;
}

.action-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    padding: 0.5em 1em;
    box-sizing: border-box;
    height: 55px;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    border-radius: 5px;
    text-decoration: none;
}

.action-link__red {
    background-color: #FF3F40;
}

.sample {
    padding-top: 15px;
}

.intro-video {    
    max-width: 551px;
    width: 100%;
    min-height: 356px;
    object-fit: cover;
    box-shadow: -2px -14px 73px rgba(0, 0, 0, 0.29);
}

/* servises */

.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 1252px;
    min-width: 350px;
    margin: 0 auto;
    gap: 89px;
    justify-content: space-between;
    padding: 0 1vw;
    padding-bottom: 113px;
    border-bottom: 2px solid #ececec;
}

.services__info {
    width: 539px;
}

.section-heading {
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;    
    text-transform: uppercase;
}

.section-heading__services {
    margin: 0;
    margin-top: 95px;
    margin-bottom: 44px;
    line-height: 55px;
    letter-spacing: 0.4px;
   }

.services__about {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 63px;
}

.services__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 622px;
    margin-top: 107px;
    justify-content: end;
}

.services__item {
    min-height: 101px;
    max-width: 301px;
}

.services__text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.services__item-icon_mang::before {
    content: '';
    display: block;
    width: 37px;
    height: 37px;
    background-image: url('../img/services__item_managment-icon.svg');
    background-repeat: no-repeat;
    background-size: 37px;
    margin-bottom: 33px;
}

.services__item-icon_design::before {
    content: '';
    display: block;
    width: 38px;
    height: 40px;
    background-image: url('../img/services__item_design-icon.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item-icon_logo::before {
    content: '';
    display: block;
    width: 44px;
    height: 36px;
    background-image: url('../img/services__item_logo-icon.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item-icon_anim::before {
    content: '';
    display: block;
    width: 41.5px;
    height: 36px;
    background-image: url('../img/services__item_anim-icon.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__title {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Open Sans';
    font-size: 24.0692px;
    font-weight: 600;
    line-height: 1.2;
}

.action-link__white {
    color: #ff2d2d;
    border: 2px solid #ff2d2d;
    background-color: rgba(0, 0, 0, 0.0001);
}

/* Features */

.feature {
    max-width: 1249px;
    min-width: 350px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 105px;
    padding-bottom: 65px;
}

.feature__header {
    margin-bottom: 88px;
}

.feature__header::after {
    display: block;
    content: '';
    margin: 0 auto;
    width: 130px;
    height: 2px;
    background-color: #ff2d2d;
    border: none;
}

.section-heading__feature {
    margin: 0;
    margin-bottom: 28.5px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000;
}

.feature__about {
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 34.5px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 58px;
}

.filter__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 57px;
}

@media screen and (max-width: 600px) {
    .filter__list {
        justify-content: center;
    }
}

.filter__link {
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.filter__link_active {
    color: rgba(255, 45, 45, 1);
}

.filter__link:hover {
    color: rgba(255, 45, 45, 1);
}

.feature__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.feature__product {
    height: 297px;
    object-fit: cover;
    object-position: 0% 0%;
}

/* Team */

.team {
    max-width: 1249px;
    min-width: 350px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 65px;
    padding-bottom: 53px;
    text-align: left;
    margin-bottom: 100px;
}

.team__header {
    margin-bottom: 67px;
}

.team__header::after {
    display: block;
    content: '';
    margin: 0;
    width: 130px;
    height: 2px;
    background-color: #ff2d2d;
    border: none;
}

.section-heading__team {
    max-width: 374px;
    min-height: 32px;
    margin: 0;
    margin-bottom: 35px;
   }

.team__about {
    font-family: 'Open Sans';
    font-size: 16px;
    max-width: 450px;
    min-height: 73px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 38px;
}

.team__members {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-items: end;
    column-gap: 2vw;
}


.team__inner {
    display: flex;
    flex-direction: column;
}

@supports (display: contents) {
    .team__inner {
        display: contents;
    }
}



.team__lead-main {
    max-width: 631px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 50px;
}

.team__lead-name {
    display: block;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    max-width: 240px;
    min-height: 23px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.team__lead-about {
    font-family: 'Open Sans';
    font-size: 16px;
    max-width: 663px;
    min-height: 45px;
    margin-bottom: 46.5px;
    line-height: 28px;
}

.team__lead-photo {
    object-position: center;
    object-fit: contain;
    background-color: #FF3F40;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.team__lead-social {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 24px;
    min-height: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.team__lead-link {
    color: #000;
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    width: 102px;
    min-height: 24px;
    text-decoration: none;
}

.team__lead-link:hover {
    text-decoration: underline;
}

.team__others {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: center;
}

.team__other {
    position: relative;
}

.team__other-photo {
    display: block;
    background-color: #FF3F40;
}

.team__other-name {
    display: none;
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
}

.team__other:hover>.team__other-name {
    display: block;
}

@media screen and (max-width: 800px) {
    .team__members {
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        row-gap: 1em;
    }

    .team__lead-photo {
        grid-row: auto;
    }

    .team__lead-main {
        grid-column: 1 / 2;
        grid-row: auto;
    }

    .team__others {
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: auto;
    }
}

/* subscribe */

.page__inner_dark {
    background-color: #2c2c2c;
}

.page__inner-subscribe {
    padding: 0 1vw;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1579px;
    min-width: 350px;
    margin: 0 auto;
    padding: 150px 0 140px;
    margin-bottom: 100px;
}

.subscribe__heading {
    color: #fff;
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 1129px;
    margin: 0;
    margin-bottom: 17px;
}

.subscribe__about {
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 59px;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
}

.subscribe__input {
    font-family: Open Sans;
    font-size: 16px;
    width: 521px;
    height: 79px;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 36px;
}

@media screen and (max-width: 530px) {
    .subscribe__input {

        width: 100%;
    }
}

.subscribe__button {
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 214px;
    min-height: 79px;
    margin-left: 22px;
    border: none;
    border-radius: 5px;
    background-color: #ff2d2d;
}

/* registration */

.feedback {
    width: 100%;
    min-width: 350px;
    margin: 0 auto;
    margin-bottom: 67px;
    padding-left: 1vw;
    box-sizing: border-box;
}

.feedback__header {
    max-width: 1249px;
    margin: 0 auto;
    margin-bottom: 77px;    
}

.feedback__header::after {
    display: block;
    content: '';
    margin: 0;
    padding: 0 1vw;
    width: 130px;
    height: 2px;
    background-color: #ff2d2d;
    border: none;
}

.feedback__inner {
    max-width: 753px;
}


.section-heading__feedback {
    max-width: 329px;
    height: 32px;
    margin-bottom: 45px;
}

.feedback__about {
    font-family: Open Sans;
    font-size: 16px;
    max-width: 753px;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 50px;
}

.feedback__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 110px;
    }

.feedback__body::before {
    content: '';
    flex: 1 1 auto;
}

.feedback__body::after {
    content: '';
    flex: 1 1 auto;
    background-color: #2d2d2d;
    padding-right: 1vw;
}

.feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 731px;
    margin-right: 107px;
}

.feedback__form>input::placeholder,
.feedback__form>textarea::placeholder {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
}

.feedback__name {
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 54px;
    padding-right: 54px;
    margin-right: 24px;
    margin-bottom: 44px;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
}


.feedback__email {
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: 24px;
    margin-bottom: 44px;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
}

.feedback__textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    max-width: 731px;
    min-height: 239px;
    margin-bottom: 45px;
    padding: 31px 51px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
}


.action-link__long {    
    max-width: 728px;
    width: 100%;
    height: 72px;
    border: none;    
    background-color: #FF3B3B;
    color: #FFF;   
    text-transform: uppercase;   
}

.feedback__contacts {
    color: #fff;
    background-color: #2D2D2D;
}

.contacts {
    max-width: 315px;
    padding: 125px 17px 125px 81px;

}

.contacts__heading {
    max-width: 180px;
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75;
    word-break: break-all;
    margin: 0;
    margin-bottom: 30px;
    color: #fff;
}

.contacts__address {
    max-width: 315px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 27px;
}

.contacts__email {
    max-width: 221px;
    display: block;
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 20px;
    word-break: break-all;
}

.contacts__tel {
    display: block;
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

/* footer */

.page__inner_dark-2 {
    background: #313030;
}

.page__inner_footer {
    padding: 0 1vw;
    box-sizing: border-box;
}

.footer {
    display: flex;
    width: 100%;
    max-width: 1583px;
    min-width: 350px;
    min-height: 111px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.footer__copyright {
    display: block;
    width: 100%;
    max-width: 376px;
    margin-top: 52px;
    margin-bottom: 33px;
    line-height: 26px;
    font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #B8B8B8;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 47px;
    margin-bottom: 31px;
}

/* JS */
.hide {
    display: none;
}